<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>
          <%= pluralize(@user.posts.count, 'post') %>,
          <%= pluralize(@user.comments.count, 'comment') %>
        </small>
      </div>
    </div>
  </div>
</div>

<% if has_posts %>
  <h2>Posts</h2>
  <%= render @user.posts %>

  <h2>Comments</h2>
  <%= render @user.comments %>
<% else %>
  <%= "#{@user.name} has not submitted any posts yet." %>
<% end %>

<% if(@user.favorites.length > 0) %>
  <h2>Favorites</h2>
  <ul>
    <% @user.favorites.each do |favorite| %>
      <li><%= favorite.post.title %>
          <div>
          <% avatar_url = favorite.post.user.avatar_url(24) %>
            <% if avatar_url %>
              <%=image_tag avatar_url, class: 'media-object' %>
            <% end %>
            Up-Votes: <%= favorite.post.up_votes %>
            Comments: <%= favorite.post.comments.count %>
          <div>
      </li>
    <% end %>
  </ul>
<% end %>
